<a href="https://colab.research.google.com/github/kumar987789/daily-updates/blob/main/data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
movies
movieId,movieName,year
1,Parmanu,2018
2,URI,2019
3,rrr,2022
4,Bahubali,2015
5,tanhaji,2020
reviews
movieId,movieInfo,reviews
1,,435
2,,492
3,,444
4,,880
5,,722
6,,888
7,,220
8,,350
9,,619
10,,226

In [1]:
%%writefile movies.csv
movieId,movieName,year
1,Parmanu,2018
2,URI,2019
3,rrr,2022
4,Bahubali,2015
5,tanhaji,2020

Writing movies.csv

In [3]:
%%writefile reviews.csv
movieId,movieInfo,reviews
1,,435
2,,492
3,,444
4,,880
5,,722
6,,888
7,,220
8,,350
9,,619
10,,226

Writing reviews.csv

In [6]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [29]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import concat,col,lit,min,max

In [9]:
spark=SparkSession.builder.appName('abc').getOrCreate()

In [10]:
df=spark.read.option('header','True').csv('movies.csv')
df1=spark.read.option('header','True').csv('reviews.csv')

In [ ]:
#  Clean reviews dataframe on the basis of movies data available. Hint - try left semi join, inner join, right join for joins
# 2.  Fill movieInfo Column by concating movieName & year column (output should be dataframe).  Hint - try expr method
# 3. Find movie with max reviews (output should be string)
# 4. Find total reviews (output should be int

In [21]:
#1)

df.join(df1,df.movieId==df1.movieId,'leftsemi').show()

+-------+---------+----+
|movieId|movieName|year|
+-------+---------+----+
|      1|  Parmanu|2018|
|      2|      URI|2019|
|      3|      rrr|2022|
|      4| Bahubali|2015|
|      5|  tanhaji|2020|
+-------+---------+----+

In [28]:
x=df.join(df1,df.movieId==df1.movieId,'left')
x.withColumn('movieInfo',concat(col('movieName'),lit(''),col('year'))).show()

+-------+---------+----+-------+------------+-------+
|movieId|movieName|year|movieId|   movieInfo|reviews|
+-------+---------+----+-------+------------+-------+
|      1|  Parmanu|2018|      1| Parmanu2018|    435|
|      2|      URI|2019|      2|     URI2019|    492|
|      3|      rrr|2022|      3|     rrr2022|    444|
|      4| Bahubali|2015|      4|Bahubali2015|    880|
|      5|  tanhaji|2020|      5| tanhaji2020|    722|
+-------+---------+----+-------+------------+-------+

In [34]:
x.groupBy('')