#SparkSQL

Working with PySpark's built-in SQL compliant functionality to investigate flights-delay data at scale


*   Understand the limitations of SparkSQL
*   Experiment with createOrReplaceGlobalView
*   Work on same executions through pyspark methods

In [2]:
#Download Data from source
Data Source Repo - https://kloudbitbucket.s3.amazonaws.com/krunal_ds/departuredelays.csv

SyntaxError: invalid syntax (<ipython-input-2-e1060335c634>, line 2)

In [3]:
#Import necessary spark components
from pyspark.sql import *
arr=SparkSession.builder.appName("nikhil3").getOrCreate()

/home/labuser/.local/lib/python3.6/site-packages/pyspark/context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [4]:
#Create a SparkSession
arr=SparkSession.builder.appName("nikhil3").getOrCreate()

In [5]:
#Import Data into Spark Native Dataframe
df=arr.read.option('header','True').csv('departuredelays.csv')

In [7]:
#Convert into an SQL complaint format
df.createOrReplaceTempView("data")

In [33]:
#Display 100 rows of data with SQL query
arr.sql('select * from data limit 100').show()

+--------+-----+--------+------+-----------+
|    date|delay|distance|origin|destination|
+--------+-----+--------+------+-----------+
|01011245|    6|     602|   ABE|        ATL|
|01020600|   -8|     369|   ABE|        DTW|
|01021245|   -2|     602|   ABE|        ATL|
|01020605|   -4|     602|   ABE|        ATL|
|01031245|   -4|     602|   ABE|        ATL|
|01030605|    0|     602|   ABE|        ATL|
|01041243|   10|     602|   ABE|        ATL|
|01040605|   28|     602|   ABE|        ATL|
|01051245|   88|     602|   ABE|        ATL|
|01050605|    9|     602|   ABE|        ATL|
|01061215|   -6|     602|   ABE|        ATL|
|01061725|   69|     602|   ABE|        ATL|
|01061230|    0|     369|   ABE|        DTW|
|01060625|   -3|     602|   ABE|        ATL|
|01070600|    0|     369|   ABE|        DTW|
|01071725|    0|     602|   ABE|        ATL|
|01071230|    0|     369|   ABE|        DTW|
|01070625|    0|     602|   ABE|        ATL|
|01071219|    0|     569|   ABE|        ORD|
|01080600|    0|     369|   ABE|        DTW|
+--------+-----+--------+------+-----------+
only showing top 20 rows

In [35]:
#Get a list of all Origin and Destination airports
arr.sql('select distinct origin,destination from data').show()

+------+-----------+
|origin|destination|
+------+-----------+
|   ATL|        GSP|
|   BQN|        MCO|
|   CLE|        SJU|
|   DSM|        EWR|
|   EWR|        STT|
|   FSD|        ATL|
|   AUS|        ELP|
|   BMI|        MCO|
|   CAE|        ATL|
|   CLE|        MCI|
|   CPR|        DEN|
|   CVG|        BDL|
|   EYW|        TPA|
|   ATL|        HDN|
|   BOS|        CVG|
|   BWI|        MDW|
|   COS|        SFO|
|   DFW|        SDF|
|   DFW|        PNS|
|   DTW|        MKE|
+------+-----------+
only showing top 20 rows

In [38]:
#Find the top 5 longest distance travel routes
arr.sql('select * from data order by distance limit 5').show()

+--------+-----+--------+------+-----------+
|    date|delay|distance|origin|destination|
+--------+-----+--------+------+-----------+
|01070600|    0|     100|   BDL|        EWR|
|01081015|   42|     100|   BDL|        EWR|
|01071015|    0|     100|   BDL|        EWR|
|01071321|    0|     100|   BDL|        EWR|
|01081321|   19|     100|   BDL|        EWR|
+--------+-----+--------+------+-----------+

In [8]:
#Find top 3 origin airport with maximum flight delay occurances
arr.sql('select origin,count(delay) as count_delay from data group by origin order by count_delay desc limit 3').show()

+------+-----------+
|origin|count_delay|
+------+-----------+
|   ATL|      91484|
|   DFW|      68482|
|   ORD|      64228|
+------+-----------+

In [9]:
#Find top 3 destination airport with maximum flight delay occurances
arr.sql('select destination,count(delay) from data group by destination order by count(delay) desc limit 3').show()

+-----------+------------+
|destination|count(delay)|
+-----------+------------+
|        ATL|       90434|
|        DFW|       66050|
|        ORD|       61967|
+-----------+------------+

In [59]:
#Find the route with maximum delay occurances
arr.sql('select origin,destination,max(delay) from data group by origin,destination order by max(delay) desc limit 1 ').show()

+------+-----------+----------+
|origin|destination|max(delay)|
+------+-----------+----------+
|   SMF|        SLC|       995|
+------+-----------+----------+

In [62]:
#Find the top three routes with maximum time-delay
arr.sql('select origin,destination,max(delay) from data group by origin,destination order by max(delay) desc limit 3 ').show()

+------+-----------+----------+
|origin|destination|max(delay)|
+------+-----------+----------+
|   SMF|        SLC|       995|
|   SJC|        ORD|       994|
|   MOT|        DEN|       993|
+------+-----------+----------+

In [44]:
#Find the distance for top three max time-delay routes
arr.sql('select distance from data order by delay desc limit 3').show()

+--------+
|distance|
+--------+
|     462|
|    1590|
|     525|
+--------+