In [ ]:
#Create local file with the following data

Complete the following code using pyspark RDDs

movie.csv
movieId,moviename,director,year
200,shawshank,FrankD,1994
201,saw,JamesW,2004
202,avengers,JossW,2012
204,mi,ChristopherMcq,2018
205,wrongturn,DeclanO,2011

award.csv
catalogId,movieId,awards
11,200,2
12,200,3
13,201,1
14,202,3
15,202,5
16,204,4
17,205,1

In [1]:
#Import libraries & Create SparkSession
from pyspark.sql import SparkSession
from pyspark.sql import *
from pyspark.sql.functions import concat,col,lit
spark=SparkSession.builder.appName('nikhil4').getOrCreate()

/home/labuser/.local/lib/python3.6/site-packages/pyspark/context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [2]:
#Create two dataframes using respective csv files from local storage
df1=spark.read.option('header','True').csv('movies.csv')
df2=spark.read.option('header','True').csv('award.csv')
df1.show()
df2.show()

+-------+---------+--------------+----+
|movieId|moviename|      director|year|
+-------+---------+--------------+----+
|    200|shawshank|        FrankD|1994|
|    201|      saw|        JamesW|2004|
|    202| avengers|         JossW|2012|
|    204|       mi|ChristopherMcq|2018|
|    205|wrongturn|       DeclanO|2011|
+-------+---------+--------------+----+

+---------+-------+------+
|catalogId|movieId|awards|
+---------+-------+------+
|       11|    200|     2|
|       12|    200|     3|
|       13|    201|     1|
|       14|    202|     3|
|       15|    202|     5|
|       16|    204|     4|
|       17|    205|     1|
+---------+-------+------+

In [4]:
#Create a new column called "movieInfo" in movies dataframe which includes movieName & Director
df1.select(concat(col('moviename'),lit(''),col('director')).alias('movieInfo')).show()

+----------------+
|       movieInfo|
+----------------+
| shawshankFrankD|
|       sawJamesW|
|   avengersJossW|
|miChristopherMcq|
|wrongturnDeclanO|
+----------------+

In [5]:
df1.withColumn('movieName',concat(col('moviename'),lit(' '),col('director'))).show()

+-------+-----------------+--------------+----+
|movieId|        movieName|      director|year|
+-------+-----------------+--------------+----+
|    200| shawshank FrankD|        FrankD|1994|
|    201|       saw JamesW|        JamesW|2004|
|    202|   avengers JossW|         JossW|2012|
|    204|mi ChristopherMcq|ChristopherMcq|2018|
|    205|wrongturn DeclanO|       DeclanO|2011|
+-------+-----------------+--------------+----+

In [13]:
from pyspark.sql import functions as sf

In [14]:
from pyspark.sql.functions import concat,col

In [20]:
#Calculate total number of awards for each movie & display - movieID, movienName, awardsCount
tables=df1.join(df2,'movieId')
x=tables.groupBy('movieId','moviename').agg({'awards':'sum'}).show()

+-------+---------+-----------+
|movieId|moviename|sum(awards)|
+-------+---------+-----------+
|    201|      saw|        1.0|
|    205|wrongturn|        1.0|
|    202| avengers|        8.0|
|    204|       mi|        4.0|
|    200|shawshank|        5.0|
+-------+---------+-----------+

In [19]:
#Get top three movies on the basis of number of awards
x.sort('sum(awards)',ascending=False).show(3)

+-------+---------+-----------+
|movieId|moviename|sum(awards)|
+-------+---------+-----------+
|    202| avengers|        8.0|
|    200|shawshank|        5.0|
|    204|       mi|        4.0|
+-------+---------+-----------+
only showing top 3 rows

In [12]:
#Get top three latest movies
df1.sort('year',ascending=False).show(3)

+-------+---------+--------------+----+
|movieId|moviename|      director|year|
+-------+---------+--------------+----+
|    204|       mi|ChristopherMcq|2018|
|    202| avengers|         JossW|2012|
|    205|wrongturn|       DeclanO|2011|
+-------+---------+--------------+----+
only showing top 3 rows